:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: grid;
  width: 75vw;
  grid-template-columns: 33% 33% 33%;
}

.droppable {
  height: 100vh;
}

.outer {
  height: 100vh;
  text-align: center;
  position: absolute;
}

.inner {
  background-color: #ffe4c4;
  position: absolute;
  width: 45vw;
  height: 90vh;
  top: 50vh;
  left: 50vw;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  line-height: 90vh;
  vertical-align: middle;
  user-select: none;
  color: black;
  overflow-y: scroll;
}

.like-toast {
  position: absolute;
  top: -20%;
  left: 42%;
  font-size: 50px;
  color: gold;
}

.dislike-toast {
  position: absolute;
  top: -20%;
  left: 33%;
  font-size: 50px;
  color: red;
  z-index: 2;
}

.hidden-toast {
  display: none;
}

.visible-toast {
  display: inline;
}

.inner::-webkit-scrollbar {
  display: none;
}
